*,
*:after,
*:before {
 box-sizing: inherit
}

html {
 box-sizing: border-box;
 font-size: 62.5%
}

body {
 font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
 font-size: 1.6em;
 font-weight: 300;
 letter-spacing: .01em;
 line-height: 1.6;
 margin: 0;
 color: #495057;
 background-color: #f5f7fb;
}

hr {
 margin-top: 5em
}

a {
 text-decoration: none;
 color: deeppink
}

.hide {
 display: none
}

.loader {
 height: 4px;
 width: 100%;
 position: fixed;
 overflow: hidden;
 z-index: 3;
 top: 53px
}

.loader:before {
 display: block;
 position: absolute;
 content: "";
 left: -200px;
 width: 200px;
 height: 4px;
 background-color: #ff5722;
 -webkit-animation: loading 2s linear infinite;
 animation: loading 2s linear infinite
}

@keyframes loading {
 from {
  left: -200px;
  width: 10%
 }
 50% {
  width: 30%
 }
 70% {
  width: 70%
 }
 80% {
  left: 50%
 }
 95% {
  left: 120%
 }
 to {
  left: 100%
 }
}

.cont {
 margin-right: auto;
 margin-left: auto;
 margin-bottom: 5em;
 margin-top: 5rem;
 padding-right: 2rem;
 padding-left: 2rem
}

.row {
 padding: 0 10px;
 box-sizing: border-box;
 display: -webkit-box;
 display: flex;
 -webkit-box-flex: 0;
 flex: 0 1 auto;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 flex-direction: row;
 flex-wrap: wrap;
 margin-right: -0.5rem;
 margin-left: -0.5rem
}

.s,
.s1,
.s2,
.s3,
.s4,
.s5,
.s6,
.s7,
.s8,
.s9,
.s10,
.s11,
.s12,
.of-s0,
.of-s1,
.of-s2,
.of-s3,
.of-s4,
.of-s5,
.of-s6,
.of-s7,
.of-s8,
.of-s9,
.of-s10,
.of-s11,
.of-s12 {
 box-sizing: border-box;
 -webkit-box-flex: 0;
 flex: 0 0 auto;
 padding-right: .5rem;
 padding-left: .5rem
}

.s {
 -webkit-box-flex: 1;
 flex-grow: 1;
 flex-basis: 0;
 max-width: 100%
}

.s1 {
 flex-basis: 8.33333333%;
 max-width: 8.33333333%
}

.s2 {
 flex-basis: 16.66666667%;
 max-width: 16.66666667%
}

.s3 {
 flex-basis: 25%;
 max-width: 25%
}

.s4 {
 flex-basis: 33.33333333%;
 max-width: 33.33333333%
}

.s5 {
 flex-basis: 41.66666667%;
 max-width: 41.66666667%
}

.s6 {
 flex-basis: 50%;
 max-width: 50%
}

.s7 {
 flex-basis: 58.33333333%;
 max-width: 58.33333333%
}

.s8 {
 flex-basis: 66.66666667%;
 max-width: 66.66666667%
}

.s9 {
 flex-basis: 75%;
 max-width: 75%
}

.s10 {
 flex-basis: 83.33333333%;
 max-width: 83.33333333%
}

.s11 {
 flex-basis: 91.66666667%;
 max-width: 91.66666667%
}

.s12 {
 flex-basis: 100%;
 max-width: 100%
}

.of-s0 {
 margin-left: 0
}

.of-s1 {
 margin-left: 8.33333333%
}

.of-s2 {
 margin-left: 16.66666667%
}

.of-s3 {
 margin-left: 25%
}

.of-s4 {
 margin-left: 33.33333333%
}

.of-s5 {
 margin-left: 41.66666667%
}

.of-s6 {
 margin-left: 50%
}

.of-s7 {
 margin-left: 58.33333333%
}

.of-s8 {
 margin-left: 66.66666667%
}

.of-s9 {
 margin-left: 75%
}

.of-s10 {
 margin-left: 83.33333333%
}

.of-s11 {
 margin-left: 91.66666667%
}

@media only screen and (min-width:48em) {
 .m,
 .m1,
 .m2,
 .m3,
 .m4,
 .m5,
 .m6,
 .m7,
 .m8,
 .m9,
 .m10,
 .m11,
 .m12,
 .of-m0,
 .of-m1,
 .of-m2,
 .of-m3,
 .of-m4,
 .of-m5,
 .of-m6,
 .of-m7,
 .of-m8,
 .of-m9,
 .of-m10,
 .of-m11,
 .of-m12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem
 }
 .m {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%
 }
 .m1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%
 }
 .m2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%
 }
 .m3 {
  flex-basis: 25%;
  max-width: 25%
 }
 .m4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%
 }
 .m5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%
 }
 .m6 {
  flex-basis: 50%;
  max-width: 50%
 }
 .m7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%
 }
 .m8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%
 }
 .m9 {
  flex-basis: 75%;
  max-width: 75%
 }
 .m10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%
 }
 .m11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%
 }
 .m12 {
  flex-basis: 100%;
  max-width: 100%
 }
 .of-m0 {
  margin-left: 0
 }
 .of-m1 {
  margin-left: 8.33333333%
 }
 .of-m2 {
  margin-left: 16.66666667%
 }
 .of-m3 {
  margin-left: 25%
 }
 .of-m4 {
  margin-left: 33.33333333%
 }
 .of-m5 {
  margin-left: 41.66666667%
 }
 .of-m6 {
  margin-left: 50%
 }
 .of-m7 {
  margin-left: 58.33333333%
 }
 .of-m8 {
  margin-left: 66.66666667%
 }
 .of-m9 {
  margin-left: 75%
 }
 .of-m10 {
  margin-left: 83.33333333%
 }
 .of-m11 {
  margin-left: 91.66666667%
 }
}

@media only screen and (min-width:75em) {
 .l,
 .l1,
 .l2,
 .l3,
 .l4,
 .l5,
 .l6,
 .l7,
 .l8,
 .l9,
 .l10,
 .l11,
 .l12,
 .of-l0,
 .of-l1,
 .of-l2,
 .of-l3,
 .of-l4,
 .of-l5,
 .of-l6,
 .of-l7,
 .of-l8,
 .of-l9,
 .of-l10,
 .of-l11,
 .of-l12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem
 }
 .l {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%
 }
 .l1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%
 }
 .l2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%
 }
 .l3 {
  flex-basis: 25%;
  max-width: 25%
 }
 .l4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%
 }
 .l5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%
 }
 .l6 {
  flex-basis: 50%;
  max-width: 50%
 }
 .l7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%
 }
 .l8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%
 }
 .l9 {
  flex-basis: 75%;
  max-width: 75%
 }
 .l10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%
 }
 .l11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%
 }
 .l12 {
  flex-basis: 100%;
  max-width: 100%
 }
 .of-l0 {
  margin-left: 0
 }
 .of-l1 {
  margin-left: 8.33333333%
 }
 .of-l2 {
  margin-left: 16.66666667%
 }
 .of-l3 {
  margin-left: 25%
 }
 .of-l4 {
  margin-left: 33.33333333%
 }
 .of-l5 {
  margin-left: 41.66666667%
 }
 .of-l6 {
  margin-left: 50%
 }
 .of-l7 {
  margin-left: 58.33333333%
 }
 .of-l8 {
  margin-left: 66.66666667%
 }
 .of-l9 {
  margin-left: 75%
 }
 .of-l10 {
  margin-left: 83.33333333%
 }
 .of-l11 {
  margin-left: 91.66666667%
 }
}

.start {
 -webkit-box-pack: start;
 justify-content: flex-start;
 text-align: start
}

.center {
 -webkit-box-pack: center;
 justify-content: center;
 text-align: center
}

.end {
 -webkit-box-pack: end;
 justify-content: flex-end;
 text-align: end
}

.left {
 float: left
}

.right {
 float: right
}

.fix.nav {
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 5
}

.nav {
 overflow: hidden;
 margin: 0;
 padding: 0;
 list-style-type: none;
 background: black
}

.nav li {
 float: left;
 margin-bottom: 0
}

.nav li a {
 display: inline-block;
 padding: 14px 16px;
 transition: .3s;
 text-align: center;
 text-decoration: none;
 color: rgba(255, 255, 255, 1)
}

.nav li a.brand {
 font-weight: bold;
 margin-right: 20px;
 margin-left: 40px
}

.nav li a:hover,
.active {
 background: rgba(255, 255, 255, .2)
}

.nav li.-icon {
 display: none
}

.-exit {
 float: right!important
}

@media screen and (max-width:48em) {
 .m-cont {
  width: 95%!important
 }
 .-exit {
  float: none!important
 }
 .nav li:not(:first-child) {
  display: none
 }
 .nav li.-icon {
  display: initial;
  float: right
 }
 .-icon a {
  font-size: 3rem;
  padding: 1px 20px!important
 }
 .nav.res li.-icon {
  position: absolute;
  top: 0;
  right: 0
 }
 .nav.res li {
  display: inline;
  float: none
 }
 .nav.res li a {
  display: block;
  text-align: left
 }
}

.group {
 position: relative;
 margin-top: 1.5em
}

input,
input[type="radio"] + label,
select {
 text-align: left;
 width: 100%;
 padding: .5em;
 background-color: #f9f9f9;
 color: black;
 border: 1px solid #bbb;
 border-radius: 3px;
 -webkit-transition: .35s ease-in-out;
 -moz-transition: .35s ease-in-out;
 -o-transition: .35s ease-in-out;
 transition: all .35s ease-in-out
}

input:disabled {
 opacity: .5
}

button {
 text-align: center;
 padding: .5em;
 min-width: 5em;
 font-size: 1.3em;
 line-height: 1.0;
 background-color: #f9f9f9;
 border: 1px solid #e5e5e5;
 border-radius: 5px;
 -webkit-transition: .35s ease-in-out;
 -moz-transition: .35s ease-in-out;
 -o-transition: .35s ease-in-out;
 transition: all .35s ease-in-out;
 color: black;
}

button:disabled {
 background-color: antiquewhite;
 opacity: .7
}

button:hover {
 opacity: .8;
 border-color: #888;
 outline: 0
}

input[type="radio"] {
 display: none
}

input[type="radio"] + label {
 font-size: 1.3em;
 display: inline-block;
 width: 50%;
 text-align: center;
 float: left;
 border-radius: 0;
 font-weight: bold;
 line-height: 1.15
}

input[type="radio"] + label:first-of-type {
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px
}

input[type="radio"] + label:last-of-type {
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px
}

input[type="radio"] + label i {
 padding-right: .4em
}

input[type="radio"]:checked + label,
input:checked + label:before {
 background-color: inherit;
 color: #fff
}

input[type="text"],
input[type="number"],
input[type="password"] {
 font-size: 1.2em;
 -moz-appearance: textfield -moz-padding-start:13px
}

input[type="checkbox"] {
 position: absolute;
 z-index: -1;
 opacity: 0;
 margin: 10px 0 0 20px
}

input[type="checkbox"] + label {
 position: relative;
 padding: 0 0 0 60px;
 cursor: pointer
}

.group input[type="checkbox"] + label {
 top: 8px
}

.group span {
 font-size: 14px;
 position: absolute;
 pointer-events: none;
 left: 10px;
 top: -20px;
 font-style: normal;
 color: black
}

input[type="checkbox"] + label:before {
 content: '';
 position: absolute;
 top: -4px;
 left: 0;
 width: 50px;
 height: 26px;
 border-radius: 13px;
 background: #cdd1da;
 box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
 transition: .2s
}

input[type="checkbox"] + label:after {
 content: '';
 position: absolute;
 top: -2px;
 left: 2px;
 width: 22px;
 height: 22px;
 border-radius: 10px;
 background: #FFF;
 box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
 transition: .2s
}

input[type="checkbox"]:checked + label:before {
 background: #7ed321
}

input[type="checkbox"]:checked + label:after {
 left: 26px
}

input[type="checkbox"]:focus + label:before {
 box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2), 0 0 0 3px rgba(255, 255, 0, .7)
}

input[type="color"] {
 width: 6em;
 height: 3.15em;
 padding: 0;
 margin-left: 10px
}

input:checked + label:after {
 opacity: 1
}

input:invalid {
 border: 1px solid red
}

.invalid {
 border: 1px solid red
}

select {
 line-height: 1.2;
 font-size: 1.2em;
 font-weight: bold;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none
}

select:first-of-type {
 border-top-left-radius: 3px;
 border-bottom-left-radius: 3px
}

select:last-of-type {
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px
}

select:focus,
select:active {
 outline: 0
}

input[type="text"],
input[type="number"],
input[type="password"],
 {
 display: block
}

input:focus {
 outline: 0
}

input[type="text"] + label,
input[type="number"] + label,
input[type="password"] + label,
input[type="color"] + label {
 font-weight: normal;
 position: absolute;
 pointer-events: none;
 left: 10px;
 top: 10px;
 transition: .2s ease all;
 -moz-transition: .2s ease all;
 -webkit-transition: .2s ease all
}

input[type="color"] + label {
 top: -20px;
 font-size: 14px
}

input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="number"]:focus ~ label,
input[type="number"]:valid ~ label,
input[type="password"]:focus ~ label,
input[type="password"]:valid ~ label {
 top: -20px;
 font-size: 14px
}

input[type="number"]:hover,
input[type="number"]:focus {
 -moz-appearance: number-input
}

input[type="range"] {
 -webkit-appearance: none;
 height: 12px;
 padding: 0
}

input[type="range"] + label {
 position: absolute;
 top: -20px;
 left: 10px
}

input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
 background-color: #7ed321;
 border-radius: 50%;
 width: 25px;
 height: 25px
}

input[type="range"]::-moz-range-thumb {
 background-color: #7ed321;
 border-radius: 50%;
 width: 25px;
 height: 25px
}

input[type=range]::-moz-range-track {
 width: 100%;
 background: #fff
}

.ver {
 display: inline-block;
 width: 10%;
 height: 170px;
 margin-left: 20px
}

.ver input + label {
 left: -15px
}

.ver input {
 width: 150px;
 transform-origin: 75px 75px;
 transform: rotate(-90deg)
}

.three input[type="radio"] + label {
 width: 33%
}

.four input[type="radio"] + label {
 width: 25%
}

.five input[type="radio"] + label {
 width: 20%
}

.search {
 border: 1px solid #bbb;
 border-radius: 5px;
 background-color: #f9f9f9;
 text-align: left
}

.search input {
 border: 0;
 width: 60%
}

.search [type="submit"] {
 border: 0;
 width: auto;
 float: right;
 font-size: 1.2em
}

.search ul {
 list-style: none;
 margin: auto;
 text-align: left
}

.search li {
 padding: .3em .5em;
 margin-left: -2.5em
}

.search li:hover {
 font-weight: bold;
 background-color: #e8e8e8
}

.alert {
 padding: 1em;
 margin: 1em;
 border-radius: .5em;
 opacity: 1;
 transition: opacity .6s
}

table {
 border-spacing: 0;
 width: 100%
}

td,
th {
 border-bottom: .1rem solid #e1e1e1;
 padding: 1.2rem 0rem;
 text-align: left
}

tr:hover {
 background-color: #f1f1f1
}

.progbar {
 position: relative;
 width: 100%;
 height: 30px;
 border-radius: 5px;
 background-color: #d3d3d3
}

.progbar .bar {
 position: absolute;
 width: 1%;
 height: 100%;
 border-radius: 5px;
 background-color: #87cefa
}

.progbar .label {
 line-height: 30px;
 text-align: center;
 color: #fff
}

.round {
 border-radius: 25px!important
}

.small {
 font-size: 60%!important;
 padding: 7px 20px!important
}

.large {
 font-size: 125%!important;
 padding: 20px 50px!important
}

.danger {
 background-color: #f44336!important
}

.success {
 background-color: #7ed321!important
}

.info {
 background-color: #2196f3!important
}

.warning {
 background-color: #ff9800!important
}

.purple {
 background-color: #ce08ce!important
}

.primary {
 background-color: #33c3f0!important
}

.grey {
 background-color: #ddd!important
}

.primary,
.purple,
.danger,
.success,
.info,
.warning {
 color: #fff!important
}

.close {
 color: inherit;
 float: right;
 font-size: 3rem;
 line-height: 20px;
 cursor: pointer;
 transition: .5s;
 padding: 3px
}

.close:hover {
 color: black
}

.modal {
 position: fixed;
 z-index: 6;
 padding-top: 100px;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgba(0, 0, 0, 0.4);
 opacity: 1;
 transition: opacity .6s
}

.m-cont {
 background-color: #fefefe;
 margin: auto;
 border: 1px solid #888;
 width: 70%;
 border-radius: 10px;
 padding: 15px
}

.m-body {
 padding: 15px;
 overflow: scroll;
 padding-top: 5px;
 margin: 15px 20px
}

.m-foo {
 text-align: end
}

.sidenav {
 position: fixed;
 left: 0;
 top: 0;
 width: 0;
 height: 100%;
 z-index: 4;
 background-color: #fff;
 overflow-x: hidden;
 transition: .5s;
 border-right: 2px solid #0000004f
}

.sidenav .in {
 height: 54px
}

.sidenav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 20px;
 color: black;
 display: block;
 transition: .3s;
 white-space: nowrap
}

.l-g {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;
 padding-left: 0;
 margin-bottom: 0;
 overflow-x: hidden
}

.lg-i span {
 float: right;
 padding: 0 6px;
 border-radius: 6px
}

.lg-i:hover {
 background-color: #efefef
}

.lg-i {
 position: relative;
 display: block;
 padding: .75rem 1.25rem;
 margin-bottom: -1px;
 background-color: #fff;
 border: 1px solid rgba(0, 0, 0, .125)
}

::-webkit-scrollbar {
 width: 6px
}

::-webkit-scrollbar-thumb {
 border-width: 1px 1px 1px 2px;
 border-color: #777;
 background-color: #aaa
}

::-webkit-scrollbar-thumb:hover {
 border-width: 1px 1px 1px 2px;
 border-color: #555;
 background-color: #777
}

::-webkit-scrollbar-track {
 border-width: 0
}

::-webkit-scrollbar-track:hover {
 border-left: solid 1px #aaa;
 background-color: #eee
}

.hover {
 transition: box-shadow .25s, -webkit-box-shadow .25s
}

.hover:hover {
 box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
}

    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem 1.5rem;
    position: relative;

.card .card-title {
 font-size: 20px;
 font-weight: 300
}

.card .card-title.activator {
 cursor: pointer
}

.card .card-image {
 position: relative
}

.card .card-image img {
 display: block;
 border-radius: 2px 2px 0 0;
 position: relative;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 width: 100%
}

.card .card-image .card-title {
 color: #fff;
 position: absolute;
 bottom: 0;
 left: 0;
 max-width: 100%;
 padding: 24px
}

.card .card-content {
 padding: 24px;
 border-radius: 0 0 2px 2px;
 transition: .3s linear
}

.card .card-content p {
 margin: 0
}

.card .card-content .card-title {
 display: block;
 line-height: 32px;
 margin-bottom: 8px
}

.card .card-content .card-title i {
 line-height: 32px
}

.card .card-reveal {
 padding: 24px;
 position: absolute;
 background-color: #fff;
 width: 100%;
 overflow-y: auto;
 left: 0;
 top: 100%;
 height: 100%;
 z-index: 1;
 display: none;
 transition: .3s linear
}

.card .card-reveal .card-title {
 cursor: pointer;
 display: block
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 0.75rem !important;
}

.p-4 {
  padding: 1rem !important;
}

.p-5 {
  padding: 1.5rem !important;
}

.p-6 {
  padding: 2rem !important;
}

.p-7 {
  padding: 3rem !important;
}

.p-8 {
  padding: 4rem !important;
}

.p-9 {
  padding: 6rem !important;
}

.footer {
  background: #fff;
  border-top: 1px solid rgba(0,40,100,.12);
  font-size: 1.25rem;
  color: #9aa0ac;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer a:hover {
  text-decoration: underline;
}
.footer a {
  color: #6e7687;
  font-size: 1.3rem;
}
.footer li {
  display: inline!important;
}
