<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a class="header-brand" href="./index.html">
        <img src="/assets/images/logo_150x150.png" class="header-brand-img" alt="tabler logo">
      </a>
      <div class="d-flex order-lg-2 ml-auto">

        <div class="dropdown d-none d-md-flex">
          <a class="nav-link icon" data-toggle="dropdown"><i class="fe fe-bar-chart"></i>
          <label id="signalNetworkLabel" ></label>
          </a>

          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <dir class="col-sm m-1">
              <div class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(/assets/images/icon/icon_antenna.png)"></span>
                <div>
                  <strong>Signal: </strong><span id="signalNetwork"></span>
                  <div class="small text-muted">
                    <span>Type: <span class="font-weight-bold" id="typeNetwork"></span></span><br>
                  </div>
                </div>
              </div>
            </dir>
          </div>
        </div>


        <div class="dropdown d-none d-md-flex">
          <a class="nav-link icon" data-toggle="dropdown"><i class="fe fe-wifi"></i>
          <label id="levelWifi" ></label>
          </a>

          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <dir class="col-sm m-1">
              <div class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(/assets/images/icon/icon_wifi.png)"></span>
                <div>
                  <strong>Signal: </strong><span id="signal"></span>
                  <div class="small text-muted">
                    <span>IP: <span class="font-weight-bold" id="ip"></span></span><br>
                    <span>MAC: <span class="font-weight-bold" id="mac"></span></span>
                  </div>
                </div>
              </div>
            </dir>
          </div>
        </div>


        <div class="dropdown d-none d-md-flex">
          <a class="nav-link icon" data-toggle="dropdown"><i class="fa fa-battery-3"></i>
          <span id="statusColor"></span>
          <label id="levelLabel" ></label>
          </a>

          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <dir class="col-sm m-1">

              <div class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(/assets/images/icon/icon_battery.png)"></span>
                <div>
                  <strong>Level: </strong><span id="level"></span>
                  <div class="small text-muted">
                    <span>Type: <span class="font-weight-bold" id="plugtype"></span></span><br>
                    <span>Voltage: <span class="font-weight-bold" id="voltage"></span></span><br>
                    <span>Temperature: <span class="font-weight-bold" id="temperature"></span></span>
                  </div>
                </div>
              </div>

              <!--
              <p >Level: </p>
              <p>Plug type: <span id="plugtype"></span></p>
              <p>Status: <span id="status"></span></p>
              <p>Voltage: <span id="voltage"></span></p>
              <p>Temperature: <span id="temperature"></span></p>
-->

            </dir>
          </div>
        </div>

        <!--
        <div class="dropdown d-none d-md-flex">
          <a class="nav-link icon" data-toggle="dropdown">
            <i class="fe fe-bell"></i><span class="nav-unread"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a href="#" class="dropdown-item d-flex">
                      <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/male/41.jpg)"></span>
                      <div>
                        <strong>Nathan</strong> pushed new commit: Fix page load performance issue.
                        <div class="small text-muted">10 minutes ago</div>
                      </div>
                    </a>
            <a href="#" class="dropdown-item d-flex">
                      <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/1.jpg)"></span>
                      <div>
                        <strong>Alice</strong> started new task: Tabler UI design.
                        <div class="small text-muted">1 hour ago</div>
                      </div>
                    </a>
            <a href="#" class="dropdown-item d-flex">
                      <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/18.jpg)"></span>
                      <div>
                        <strong>Rose</strong> deployed new version of NodeJS REST Api V3
                        <div class="small text-muted">2 hours ago</div>
                      </div>
                    </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item text-center text-muted-dark">Mark all as read</a>
          </div>
        </div>
-->

        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
               <span class="avatar" style="background-image: url(/assets/images/icon/icon_user.png)"></span>
               <span class="ml-2 d-none d-lg-block">
               <span class="text-default">Jane Pearson</span>
               <small class="text-muted d-block mt-1">Administrator</small>
               </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" href="#"><i class="dropdown-icon fe fe-user"></i> Profile</a>
            <a class="dropdown-item" href="/settings.html"><i class="dropdown-icon fe fe-settings"></i> Settings</a>
            <a class="dropdown-item" href="#"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="dropdown-icon fe fe-mail"></i> Inbox</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" id="singout"><i class="dropdown-icon fe fe-log-out"></i> Sign out</a>
          </div>
        </div>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <!--
      <div class="col-lg-3 ml-auto">
        <form class="input-icon my-3 my-lg-0">
          <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
          <div class="input-icon-addon">
            <i class="fe fe-search"></i>
          </div>
        </form>
      </div>
-->
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <a href="/index.html" class="nav-link"><i class="fe fe-home"></i> Home</a>
          </li>

          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link active" data-toggle="dropdown" aria-expanded="true"><i class="fe fe-smartphone"></i> Phone</a>
            <div class="dropdown-menu dropdown-menu-arrow" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 5px, 0px); top: 0px; left: 0px; will-change: transform;" x-out-of-boundaries="">
              <a href="/contacts.html" class="dropdown-item"><i class="fe fe-user"></i> Contacts</a>
              <a href="/calls.html" class="dropdown-item"><i class="fe fe-phone"></i> Calls</a>
              <a href="/messages.html" class="dropdown-item "><i class="fe fe-message-square"></i> Messages</a>
            </div>
          </li>



          <li class="nav-item">
            <a href="/control.html" class="nav-link"><i class="fa fa-sliders"></i> Controls</a>
          </li>
          <li class="nav-item">
            <a href="/gallery.html" class="nav-link"><i class="fe fe-image"></i> Gallery</a>
          </li>
          <li class="nav-item">
            <a href="/docs/index.html" class="nav-link"><i class="fe fe-file-text"></i> Documentation</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
