  <div id="loader" class="loader hide"></div>
  <div id="sideNav" class="sidenav">
    <span href="javascript:void(0)" class="close" onclick="document.getElementById('sideNav').classList.toggle('open');">&times;</span>
    <div class="in"></div>
    <a href="http://dot.codedevice.ru/example/" target="_blank">Example css</a>
    <a href="https://github.com/bondrogeen/dot" target="_blank">GitHub</a>
    <a href="http://dot.codedevice.ru" target="_blank">DOT</a>
  </div>
  <ul class="nav fix info" id="topNav">
    <li><a href="index.html" class="brand">DOT</a></li>
    <li><a href="settings.html">Settings</a></li>
    <li><a href="service.html">Service</a></li>
    <li class="-exit"><a href="#" id="btn_exit" onclick="logout()">Exit</a></li>
    <li class="-icon"><a href="#" onclick="document.getElementById('topNav').classList.toggle('res');">&equiv;</a></li>
  </ul>

