<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Your page</title>
	<link rel="stylesheet" href="style.css.gz" />
	<style>
		h1 {}
	</style>
</head>

<body>
	<div id="mySidenav" class="sidenav">
		<span href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</span>
		<a href="http://web-server.codedevice.ru/example/" target="_blank">Example css</a>
		<a href="https://github.com/bondrogeen/web-server" target="_blank">GitHub</a>
		<a href="http://codedevice.ru" target="_blank">CodeDevice</a>
		<a href="#">About</a>
	</div>
	<div class="sideopen"><span onclick="openNav()">&equiv;</span></div>
	<ul class="nav fix" id="myTopnav">
		<li><a href="index.html" class="brand">Web-server</a></li>
		<li><a href="settings.html">Settings</a></li>
		<li><a href="#">Service</a></li>
		<li class="-exit"><a href="#" id="btn_exit" onclick="logout()">Exit</a></li>
		<li class="-icon"><a href="#" onclick="nav()">&equiv;</a></li>
	</ul>
	<div class="cont">
		<div class="row">
			<div class="s12 m2 l2">
				<br>
				<span> RAM : <?luareturn(node.heap())?></span>
			</div>
			<div class="s12 m10 l9">
				<h1> Template page</h1>
				<div class="row">
					<div class="s12">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est similique, eaque optio nobis accusantium blanditiis doloremque velit repellendus fugiat quas. Repudiandae ipsa maxime incidunt delectus, rerum! Illum quam velit maiores.
					</div>
				</div>
				<div class="row">
					<div class="s3"><br>
						<button class="danger" onclick='reboot()'>Reboot</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function send(page, data, callback) {
			var req = new XMLHttpRequest();
			req.open("POST", page, true);
			req.setRequestHeader('Content-Type', 'application/json');
			req.addEventListener("load", function() {
				if (req.status < 400) {
					callback(req.responseText);
				} else {
					callback(req.status);
				}
			});
			req.send(JSON.stringify(data));
		}

		function reboot() {
			send("web_control.lua", {
				init: "reboot"
			}, function(res) {
				alert("The page will automatically reboot after 10 seconds")
				setTimeout(function() {
					location.href = "/";
				}, 10000);
			});
		}

		function logout() {
			document.cookie = "id=";
			location.href = '/login.html';
		}

		function nav() {
			var x = document.getElementById("myTopnav");
			if (x.classList.contains("res")) {
				x.classList.remove('res');
			} else {
				x.classList.add('res');
			}
		}
	</script>
</body>

</html>
