*,
*:after,
*:before {
	box-sizing: inherit
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

}

pre {
	color: #000;
	margin: 0 .2rem;
	overflow-x: auto
}

body {
	color: currentColor;
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	letter-spacing: .01em;
	line-height: 1.6;
	margin: 0;
}

hr {
	margin-top: 5em;
}

.cont-flu,
.cont {
	margin-right: auto;
	margin-left: auto;
}

.cont-flu {
	padding-right: 2rem;
	padding-left: 2rem;
}

.row {
	box-sizing: border-box;
	display: -webkit-box;
	display: flex;
	-webkit-box-flex: 0;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: -0.5rem;
	margin-left: -0.5rem;
}

.xs,
.xs-1,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9,
.xs-10,
.xs-11,
.xs-12,
.xs-of-0,
.xs-of-1,
.xs-of-2,
.xs-of-3,
.xs-of-4,
.xs-of-5,
.xs-of-6,
.xs-of-7,
.xs-of-8,
.xs-of-9,
.xs-of-10,
.xs-of-11,
.xs-of-12 {
	box-sizing: border-box;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.xs {
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
}

.xs-1 {
	flex-basis: 8.33333333%;
	max-width: 8.33333333%;
}

.xs-2 {
	flex-basis: 16.66666667%;
	max-width: 16.66666667%;
}

.xs-3 {
	flex-basis: 25%;
	max-width: 25%;
}

.xs-4 {
	flex-basis: 33.33333333%;
	max-width: 33.33333333%;
}

.xs-5 {
	flex-basis: 41.66666667%;
	max-width: 41.66666667%;
}

.xs-6 {
	flex-basis: 50%;
	max-width: 50%;
}

.xs-7 {
	flex-basis: 58.33333333%;
	max-width: 58.33333333%;
}

.xs-8 {
	flex-basis: 66.66666667%;
	max-width: 66.66666667%;
}

.xs-9 {
	flex-basis: 75%;
	max-width: 75%;
}

.xs-10 {
	flex-basis: 83.33333333%;
	max-width: 83.33333333%;
}

.xs-11 {
	flex-basis: 91.66666667%;
	max-width: 91.66666667%;
}

.xs-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.xs-of-0 {
	margin-left: 0;
}

.xs-of-1 {
	margin-left: 8.33333333%;
}

.xs-of-2 {
	margin-left: 16.66666667%;
}

.xs-of-3 {
	margin-left: 25%;
}

.xs-of-4 {
	margin-left: 33.33333333%;
}

.xs-of-5 {
	margin-left: 41.66666667%;
}

.xs-of-6 {
	margin-left: 50%;
}

.xs-of-7 {
	margin-left: 58.33333333%;
}

.xs-of-8 {
	margin-left: 66.66666667%;
}

.xs-of-9 {
	margin-left: 75%;
}

.xs-of-10 {
	margin-left: 83.33333333%;
}

.xs-of-11 {
	margin-left: 91.66666667%;
}

@media only screen and (min-width: 48em) {
	.cont {
		width: 49rem;
	}

	.sm,
	.sm-1,
	.sm-2,
	.sm-3,
	.sm-4,
	.sm-5,
	.sm-6,
	.sm-7,
	.sm-8,
	.sm-9,
	.sm-10,
	.sm-11,
	.sm-12,
	.sm-of-0,
	.sm-of-1,
	.sm-of-2,
	.sm-of-3,
	.sm-of-4,
	.sm-of-5,
	.sm-of-6,
	.sm-of-7,
	.sm-of-8,
	.sm-of-9,
	.sm-of-10,
	.sm-of-11,
	.sm-of-12 {
		box-sizing: border-box;
		flex: 0 0 auto;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	.sm {
		-webkit-box-flex: 1;
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}

	.sm-1 {
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.sm-2 {
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.sm-3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.sm-4 {
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.sm-5 {
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.sm-6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.sm-7 {
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.sm-8 {
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.sm-9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.sm-10 {
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.sm-11 {
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.sm-12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	.sm-of-0 {
		margin-left: 0;
	}

	.sm-of-1 {
		margin-left: 8.33333333%;
	}

	.sm-of-2 {
		margin-left: 16.66666667%;
	}

	.sm-of-3 {
		margin-left: 25%;
	}

	.sm-of-4 {
		margin-left: 33.33333333%;
	}

	.sm-of-5 {
		margin-left: 41.66666667%;
	}

	.sm-of-6 {
		margin-left: 50%;
	}

	.sm-of-7 {
		margin-left: 58.33333333%;
	}

	.sm-of-8 {
		margin-left: 66.66666667%;
	}

	.sm-of-9 {
		margin-left: 75%;
	}

	.sm-of-10 {
		margin-left: 83.33333333%;
	}

	.sm-of-11 {
		margin-left: 91.66666667%;
	}
}

@media only screen and (min-width: 75em) {
	.cont {
		width: 76rem;
	}
	.lg,
	.lg-1,
	.lg-2,
	.lg-3,
	.lg-4,
	.lg-5,
	.lg-6,
	.lg-7,
	.lg-8,
	.lg-9,
	.lg-10,
	.lg-11,
	.lg-12,
	.lg-of-0,
	.lg-of-1,
	.lg-of-2,
	.lg-of-3,
	.lg-of-4,
	.lg-of-5,
	.lg-of-6,
	.lg-of-7,
	.lg-of-8,
	.lg-of-9,
	.lg-of-10,
	.lg-of-11,
	.lg-of-12 {
		box-sizing: border-box;
		-webkit-box-flex: 0;
		flex: 0 0 auto;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	.lg {
		-webkit-box-flex: 1;
		flex-grow: 1;
		flex-basis: 0;
		max-width: 100%;
	}

	.lg-1 {
		flex-basis: 8.33333333%;
		max-width: 8.33333333%;
	}

	.lg-2 {
		flex-basis: 16.66666667%;
		max-width: 16.66666667%;
	}

	.lg-3 {
		flex-basis: 25%;
		max-width: 25%;
	}

	.lg-4 {
		flex-basis: 33.33333333%;
		max-width: 33.33333333%;
	}

	.lg-5 {
		flex-basis: 41.66666667%;
		max-width: 41.66666667%;
	}

	.lg-6 {
		flex-basis: 50%;
		max-width: 50%;
	}

	.lg-7 {
		flex-basis: 58.33333333%;
		max-width: 58.33333333%;
	}

	.lg-8 {
		flex-basis: 66.66666667%;
		max-width: 66.66666667%;
	}

	.lg-9 {
		flex-basis: 75%;
		max-width: 75%;
	}

	.lg-10 {
		flex-basis: 83.33333333%;
		max-width: 83.33333333%;
	}

	.lg-11 {
		flex-basis: 91.66666667%;
		max-width: 91.66666667%;
	}

	.lg-12 {
		flex-basis: 100%;
		max-width: 100%;
	}

	.lg-of-0 {
		margin-left: 0;
	}

	.lg-of-1 {
		margin-left: 8.33333333%;
	}

	.lg-of-2 {
		margin-left: 16.66666667%;
	}

	.lg-of-3 {
		margin-left: 25%;
	}

	.lg-of-4 {
		margin-left: 33.33333333%;
	}

	.lg-of-5 {
		margin-left: 41.66666667%;
	}

	.lg-of-6 {
		margin-left: 50%;
	}

	.lg-of-7 {
		margin-left: 58.33333333%;
	}

	.lg-of-8 {
		margin-left: 66.66666667%;
	}

	.lg-of-9 {
		margin-left: 75%;
	}

	.lg-of-10 {
		margin-left: 83.33333333%;
	}

	.lg-of-11 {
		margin-left: 91.66666667%;
	}
}

.start {
	-webkit-box-pack: start;
	justify-content: flex-start;
	text-align: start;
}

.center {
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
}

.end {
	-webkit-box-pack: end;
	justify-content: flex-end;
	text-align: end;
}

/*Navbar*/

.fix {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

ul.nav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #333;
}

ul.nav li {
	float: left;
	margin-bottom: 0;
}

ul.nav li a {
	display: inline-block;
	padding: 14px 16px;
	transition: .3s;
	text-align: center;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

ul.nav li a.brand {
	font-weight: bold;
	margin-right: 20px;
	margin-left: 20px;
}

ul.nav li a.brand:hover {
	background: rgba(12, 12, 12, .1);
}

ul.nav li a.active {
	color: #fff;
	background-color: rgba(255, 255, 255, .5);
}

ul.nav li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, .2);
}

ul.nav li.-icon {
	display: none;
}

ul.nav .drop:hover .drop-content {
	display: block;
}

ul.nav .drop-cont a {
	display: block;
}

@media screen and (max-width:30rem) {
	ul.nav li:not(:first-child) {
		display: none;
	}
	ul.nav li.-icon {
		display: initial;
		float: right;
	}
}

@media screen and (max-width:30rem) {
	ul.nav.res {
		position: relative;
	}
	ul.nav.res li.-icon {
		position: absolute;
		top: 0;
		right: 0;
	}
	ul.nav.res li {
		display: inline;
		float: none;
	}
	ul.nav.res li a {
		display: block;
		text-align: left;
	}

}


/* drop */

.drop-cont {
	position: absolute;
	z-index: 2;
	display: none;
	min-width: 160px;
	background-color: #444;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.drop-cont a {
	display: block;
	padding: 12px 16px;
	transition: .3s;
	text-align: left;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.drop-cont a:hover {
	color: #fff;
	background: rgba(0, 0, 0, .1);
}

.drop:hover .drop-cont {
	display: block;
}

/*input*/

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select {
	text-align: left;
	width: 100%;
	padding: 0.5em;
	line-height: 1.0;
	background-color: #f9f9f9;
	border: 1px solid #bbb;
	border-radius: 5px;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

input:disabled {
	color: #aaa;
}

button {
	text-align: center;
	padding: 0.5em;
	min-width: 5em;
	font-size: 1.3em;
	line-height: 1.0;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	-webkit-transition: 0.35s ease-in-out;
	-moz-transition: 0.35s ease-in-out;
	-o-transition: 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	color: black;
}

button:hover {
	opacity: .9;
	border-color: #888;
	outline: 0;
}

input:focus {
	outline: 0;
	border-color: #64ac15;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	font-size: 1.3em;
	display: inline-block;
	width: 50%;
	text-align: center;
	float: left;
	border-radius: 0;
	font-weight: bold;
}

select {
	line-height: 2;
	font-size: 1.2em;
	display: inline-block;
	text-align: center;
	float: left;
	border-radius: 0;
	font-weight: bold;
}

input[type="radio"] + label:first-of-type {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

input[type="radio"] + label:last-of-type {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

input[type="radio"] + label i {
	padding-right: 0.4em;
}

input[type="radio"]:checked + label,
input:checked + label:before {
	background-color: #7ed321;
	color: #fff;
	border-color: #64ac15;
}

input[type="checkbox"] {
	display: none;
}

input[type="text"],
input[type="number"],
input[type="password"] {
	font-size: 1.2em;
}

input[type="checkbox"] + label {
	position: relative;
	display: block;
	padding-left: 1.6em;
}

input[type="checkbox"] + label:before {
	position: absolute;
	top: 0.2em;
	left: 0;
	display: block;
	width: 1em;
	height: 1em;
	padding: 0;
	content: "";
}

input[type="checkbox"] + label:before {
	width: 1em;
}

input[type="color"] {
	width: 6em;
	height: 3.15em;
}

input[type="checkbox"] + label:after {
	position: absolute;
	top: 0.45em;
	left: 0.2em;
	font-size: 0.8em;
	color: #fff;
	opacity: 0;
}

input:checked + label:after {
	opacity: 1;
}

select:first-of-type {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

select:last-of-type {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

select:focus,
select:active {
	outline: 0;
}

input[type="text"],
input[type="number"],
input[type="password"] {
	display: block;
}

input:focus {
	outline: none;
}

input[type="text"] + label,
input[type="number"] + label,
input[type="password"] + label {
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 10px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="number"]:focus ~ label,
input[type="number"]:valid ~ label,
input[type="password"]:focus ~ label,
input[type="password"]:valid ~ label {
	top: -20px;
	font-size: 14px;
}

.group {
	position: relative;
	margin-top: 1.5em;
}

.search {
	border: 1px solid #bbb;
	border-radius: 5px;
	background-color: #f9f9f9;
}

#wifi_id {
	border: none;
	width: 70%;
}

#search {
	border: none;
	width: auto;
	float: right;
	font-size: 1.2em;
	margin-top: -40px;
}

#list {
	list-style: none;
	margin: auto;
	text-align: left;
}

#list li {
	padding: 0.3em 0 0.3em 0.7em;
	margin-left: -2.5em;
}

#list li:hover {
	color: #fff;
	font-weight: bold;
	padding: 0.3em 0 0.3em 0.7em;
	background: #7ed321;
}

.alert {
	padding: 1em;
	margin: 1em;
	border-radius: 0.5em;
	opacity: 1;
	transition: opacity 0.6s;
}

pre {
	border-radius: 10px;

}

.round {
	border-radius: 25px !important;
}

.small {
	font-size: 60% !important;
	padding: 7px 20px !important;
}

.large {
	font-size: 125% !important;

	padding: 20px 50px !important;
}

.danger {
	border-color: #f44336 !important;
	background-color: #f44336 !important;
}

.success {
	border-color: #7ed321 !important;
	background-color: #7ed321 !important;
}

.info {
	border-color: #2196f3 !important;
	background-color: #2196f3 !important;
}

.warning {
	border-color: #ff9800 !important;
	background-color: #ff9800 !important;
}

.purple {
	border: 1px solid #800080 !important;
	background-color: #800080 !important;
}

.primary {
	border-color: #33c3f0 !important;
	background-color: #33c3f0 !important;
}

.grey {
	border-color: #ccc !important;
	background-color: #ddd !important;
}

.primary,
.purple,
.active,
.danger,
.success,
.info,
.warning {
	color: #fff !important;
}

.close {
	margin-left: 15px;
	color: #aaa;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.close:hover {
	color: black;
}

.modal {
	display: none;
	position: fixed;
	z-index: 3;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	transition: opacity 0.6s;
}

.m-cont {
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #888;
	width: 70%;
	border-radius: 10px;
	padding: 15px;
}

.m-body {
	padding: 15px;
}

.m-foo {
	text-align: end;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}